{% extends "base.html" %}
{% block content %}

<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">درباره ی ما</h1>
            <p class="lead fw-normal text-white-50 mb-0">شرکت خدمات توسعه  کشاورزی قنوت گندم</p>
        </div>
    </div>
</header>

<br><br>
<div class="container">
    <div class="row">
        <
        <center>
            <div class="col-9">
                <p align="justify">
                    شرکت خدمات توسعه کشاورزی قنوت گندم دندی به ریاست جناب آقای مهندس علی ایالوئی و آقای مهندس سلمان فلاح در سال ۱۳۹۲ تاسیس گردید کار و هدف اصلی این شرکت سهولت در کارهای کشاورزان و بوجاری کردن گندم های کشاورزان است
                </p>
            </div>
        </center>
    </div>
{% endblock %}